@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital@1&display=swap');
body {
    /* background-color: #eee; */
    color: #343434;
    font-family: "Poppins", sans-serif;
}
.idea-title,
.idea-short-desc {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.idea-desc {
    text-align: justify;
}

.like.checked {
    background: url(../images/like-selectd.svg) no-repeat left center;
}

.container {
    /* border: 1px solid black; */
    background-color: white;
}

.banner-data .banner-img-content {
    position: relative;
    width: 100%;
    max-width: 100%;
    min-height: 400px;
    max-height: 400px;
    border: 1px solid #dbdbdb;
    overflow: hidden;
    object-fit: cover;
}

.banner-data .banner-metadata {
    position: relative;
    height: 100%;
    padding: 30px 45px 60px 22px;
}
.banner-data .banner-metadata .meta-list {
    position: absolute;
    right: 17px;
    bottom: 14px;
}
.banner-data .banner-metadata .meta-list li{
    padding-left: 30px;
}
.banner-data .banner-metadata .meta-list li i{
    font-size: 25px;
}
.category-btns{
    position: absolute;
    right: -14px;
    bottom: 14px;
}
.meta-txt div:not(:last-child), .gallery-head{
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-family: 'Teko', sans-serif;
}
.meta-txt p{
    font-size: 1.1rem;
    text-align: justify;
}
.student-details{
    font-size: 1.2rem;
}
/* .student-details-div{
    position: relative;
} */
.student-details{
    background-color: #fafbfc;
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%); */
}
.student-details .row{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.view-file{
    font-size: 2rem;
}
img{
    width: 100%;
    height: 100%;
}
/* .gallery{
    background-color: #dbddf1;
    padding: 80px 0;
} */

.gallery{
    background-color: #fafbfc;
    padding: 10px 0;
    width: 100%;
    height: 100%;
}

blockquote{
    margin: 10px 30px;
    padding: 25px;
    background: #f8fffe;
    border: 1px solid #b0d2cb;
    color: #0b4273;
    box-sizing: border-box;
    position: relative;
}
.blockquote-text{
    font-family: 'Gelasio', serif;
    font-style: italic;
    font-size: 1em;
    line-height: 1.5;
    margin: 0;
}
.grade{
    position: absolute;
    top: 0%;
    right: 0%;
    display: inline-block;
    border-radius: 80%;
    min-width: 43px;
    min-height: 22px;
    padding: 5px;
    background: red;
    color: white;
    text-align: center;
    line-height: 1;
    box-sizing: content-box;
    white-space: nowrap;
    font-size: 20px;
}
.question{
    font-size: 18px;
    font-weight: 500;
}
